
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.synctex
*.toc
*.pdf
*.vtp
*.psvm
*.svg
*.pvd
*.xcf
*.dvi
*.nav
*.snm
*.vrb
*.synctex(busy)
presentation/images/*.jpg
presentation/images/snippets

